a{
  cursor:pointer;
}
section{
    padding-top:25px;
    padding-bottom:100px;
}
.form-section{
    padding-left:5px;
    display:none;
}
.form-section.current{
    display:inherit;
}

.main-footer{
    font-size: .8rem;
}

.text-primary{
    color: #dd3333 !important;
}

.text-info{
    color: #1e2cd4 !important;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}
.checkboxStyle1{
  display: inline-block;
  margin: 3px;
  border-bottom: solid 1px #cdcdcd;
  border-right: solid 1px #cdcdcd;
  width: 240px;
  border-radius: 7px;

}
.checkboxStyle1 label{
  padding:3px 3px 0 3px;
  word-break: break-all;
  display:block;
  margin-left:3px;
  text-transform: lowercase;;
}
.checkboxStyle1 label:not(.form-check-label):not(.custom-file-label){
  font-weight: 300;

}
.checkboxStyle1 input{
  margin-right:3px;
}
.tooMuchGoods{
  display:none;
}
.choices__list--multiple .choices__item {
  background-color: #333 !important;
  border: 1px solid #000 !important;
  color: #fff !important;
}
.settedFilters div{
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
  display: inline-block;
  padding: 1px 7px;
  text-align: center;
  border-radius: 3px;
  font-weight:700;
}
.activePromo{

  color: #dd3333;
  text-transform: uppercase;
  font-weight: 700;
}
.activePromo svg{
  color: #dd3333;
}
.activePromoGriglia{
  position: absolute;
left: 0;
bottom: 0;
background-color: #fff;
padding: .3rem;
border-radius: .2rem;
}
.activePromoDettaglio{
  display:inline-block;
}


/* style icon */
.inner-addon svg {
    position: absolute;
    pointer-events: none;
    width: 50px;
    height: 50px;
    background: #333;
    color: #fff;
    padding: 7px;
    border-radius: 25%;
    top: 50%;
    margin-top: -25px;
}

/* align icon */
.left-addon svg  { left:  0px;}
.right-addon svg { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  55px; }
.right-addon input { padding-right: 30px; }

.btn-info, .btn-success{
    margin-top:10px;
}
.parsley-errors-list{
    margin:2px 0 3px;
    padding:0;
    list-style-type: none;
    color: red;
}
.scrollFormImportExcel {
    background-color: lightgray;
    width: auto;
    border-radius: 0.25rem;
    overflow-x: scroll;
}
.cardFormImportExcel {
    position: relative;
    display:  flow-root;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px
    solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding-bottom:20px;
    padding-right: 0px;
    padding-left: 0px;
}
.width-label-50-important {
    width: 50%!important;
}

#alert{
    display: none;
}

#danger{
    display: none;
}
#success{
    display: none;
}
#warning{
    display: none;
}

div.dataTables_wrapper div.dataTables_length select{
    width:75px !important;
}
.dataTables_wrapper .dataTables_filter input{
  color:#333;
}

.content-header .breadcrumb {
    border-bottom: solid 1px #ccc;
    text-transform: uppercase;
    font-size: .8rem;
}
.content-header .breadcrumb .breadcrumb-item a{
    transition:all ease-in-out .3s;
    color:#dd3333;
}
.content-header .breadcrumb .breadcrumb-item a:hover{
    transition:all ease-in-out .3s;
    color:#dd3333;
    text-decoration:underline;
}
.content-header .breadcrumb .breadcrumb-item.active{
    text-transform:lowercase;
    letter-spacing: 2px;
}
.breadcrumb-item + .breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: #999;
    content: "::";
  }

  .sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active, .sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active{
      background:none;
      border:0;
      border-bottom:solid 1px #dd3333;
  }
  .nav-sidebar .nav-link > .right, .nav-sidebar .nav-link > p > .right{
      color:#dd3333;
  }
  .border-primary {
    border-color: #dd3333 !important;
  }
  .bg-primary {
    background-color: #dd3333 !important;
  }
  .btn-outline-primary {
    color: #dd3333;
    border-color: #dd3333;
  }
  .btn-outline-primary:hover {
    color: #fff;
    background-color: #dd3333;
    border-color: #dd3333;
  }
  .btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: #999;
    background-color: transparent;
    border-color:#999
  }
  .btn-outline-dark a{
    color:#333;
  }
  .btn-outline-dark:hover a{
    color:#fff;
  }

  .table-dark, .table-dark > td, .table-dark > th {
    background-color: #343a40;
  }

  [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:focus, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active:hover{
    background:none;
    border:0;
    color:#fff;
  }
  [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link.active::after{
    content:'';
    display:block;
    height:1px;
    width:9%;
    border-bottom:solid 1px #dd3333;
    transition:all ease-in-out .2s;
  }
  [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:focus, [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:hover {
    background: none;
    color: #fff;
  }
  [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link::after{
    content:'';
    display:block;
    height:1px;
    width:0%;
    border-bottom:solid 1px #dd3333;
    transition:all ease-in-out .4s;
}
  [class*="sidebar-dark-"] .nav-treeview > .nav-item > .nav-link:hover::after{
      width:100%;
  }

  .card-header {
    border-color:#dd3333
  }
  .card-title {
      text-transform:uppercase;
      color:#999;
  }
  .card-footer {
    background-color: transparent;
    border-top: 1px solid #cdcdcd;
  }
  /* .card-footer {
    background-color: rgba(0,0,0,.05);
    border-top: 0 solid rgba(0,0,0,.125);
  } */
  a.card-link{
      text-decoration:none;
      transition:all ease-in-out .4s;
      color:#dd3333;
  }
  a.card-link svg{
      transition:all ease-in-out .2s;
      padding-right:10px;
      width:20px
  }
  a.card-link:hover svg{
    padding-right:0px;
}
.card-body  .valName{
    color:#999;
    font-style: italic;
}
.table-responsive{
    background:#fff;
    padding:25px 7px;
    margin-top: 25px;
}

.table-responsive-riepilogo-cart{
  background:#fff;
  padding:5px 7px;
  margin-top: 15px;
}

/* BUTTON RED */
.btn-primary {
    color: #fff !important;
    background-color:#dd3333;
    border-color: #dd3333;
    box-shadow: none;
  }
  .btn-primary:hover, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
    background-color: rgba(221,51,51,.5);
    border-color: rgba(221,51,51,.5);
  }
  .btn-primary:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #dd3333;
    border-color: #dd3333;
  }
  .btn-primary.disabled, .btn-primary:disabled {
    color: #333;
    background-color: #cdcdcd;
    border-color: #cdcdcd;
  }
/* BUTTON DARK */
.btn-dark:hover {
  color: #dd3333;
  background-color: #333;
  border-color: #333;
}
  /* GRIGLIA PRODOTTI */
  .productItem{
position:relative;
  }
.productImgContainer a img.productImg{
  opacity: 1;
  transition: all ease-in-out .3s;
  }
  .productImgContainer a:hover img.productImg{
opacity:.5;
  }
  .productImgContainer{
    cursor: pointer;
    position: relative;
    width:100%;
    min-height:333px;
  }
  .inCartIcon{
    cursor:pointer;
    position: absolute;
    top: -3px;
    right: -3px;
    padding:.3rem;
    border-radius:0.3rem;
    display:none;
  }
  .inCart .inCartIcon{
    display:block;
  }

  .priceContainer .currencySymbol svg{
    margin-left:-7px;
    margin-bottom:7px;
  }
  .priceContainer .price{
    font-weight:500;
    font-size:1.2rem;
  }
  .priceContainer .storePrice{
    color:#999;
    font-size:.9rem;
  }
  .productCode{
    letter-spacing:1px;
    font-weight: 500;
    font-size:1.2rem;
    padding:.5rem;
  }

  .productCodeProductDetail{
    letter-spacing:1px;
    font-weight: 500;
    font-size:0.9rem;
    background-color: #6C757D;
    padding:.2rem .8rem;
  }

  ul.productInfo{
    font-size:0.9em;
    list-style-type: none;
    margin:0;
    padding:0;
  }
  ul.productInfo li .iconContainer, ul.productInfo li svg, ul.productInfo li i{
    border: solid 1px #666;
    padding: .2rem;
    display: inline-block;
    width: 24px;
    height: 24px;
    border-radius: .3rem;
    margin-bottom: .3rem;
  }
  .productDetailsBottom{
    color:#666;
  }
  .text-break-all {
    word-break: break-all!important;
    word-wrap: break-word!important;
  }
  .mirrorGriglia{
    background-color: #fff;
  border: solid 1px #dd3333;
  border-radius: .3em;
  position: absolute;
  top: -3px;
  right: 30px;
  padding: 0rem .3rem;
  }
 .content-wrapper > .content{
  position:relative;
 }
#col-dx-overlay{
  position:absolute;
  top:0;
  right:0;
  width:100%;
  height:0;
  background:rgba(0,0,0,0);
  opacity:0;
  transition:all ease-in-out .4s;
}
#col-dx-overlay.show{
  opacity:1;
  height:100%;
  background:rgba(0,0,0,.7);
}
#col-overlay-content{
  height:100%;
  background:#fff;
  display:none;
}
#col-dx-overlay.show #col-overlay-content{
  display:block;
}
#col-overlay-close{
  cursor: pointer;
}
.cartActionsForm{
  display:none;
}
.cartMsg{
font-style: italic;
}
.promoActionsForm{
    display:none;
}
.form-control:focus {
  background-color: #999;
  border-color: #dd3333;
  box-shadow: inset 0 0 11px #333;
  border-width: 3px;
  color: #fff;
}
.promoMsg{
    font-style: italic;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
    background-color: #dd3333;
    border-color: #dd3333;
}
.invitoIcon{
  position:absolute;
  top:-5px;
  right:-5px;
  right: -5px;
  background-color: #000;
  padding: 7px;
  color: #fff;
  border-radius: 11px;
  display: none;
}
.okIcon{
  position:absolute;
  top:-5px;
  right:-5px;
  right: -5px;
  background-color: #33dd99;
  padding: 7px;
  color: #333;
  border-radius: 11px;
  display: none;
}
.addOk{
  display:none;
}
.invitoClick{
  display:none;
}
.col-radio img{
  height:100px;
  width: 100%;
  cursor: pointer;
  transition: transform 1s;
  object-fit: cover;
}
.col-radio label{
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
.imgbgchk:checked + label>.tick_container{
  opacity: 1;
}
/*         aNIMATION */
.imgbgchk:checked + label>img{
  transform: scale(1.25);
  opacity: 0.3;
}
.tick_container {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  cursor: pointer;
  text-align: center;
}
.tick {
  background-color: #dd3333;
  color: white;
  font-size: 16px;
  padding: 6px 12px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
}
.pagination {
  line-height:38px;
}
.pagination a {
  width: 40px;
  line-height: 38px;
  text-align: center;
  display: inline-block;
  background: #333;
  border:none;
  color:#fff;
}
.pagination a.active {
  color: #fff;
}
.pagination a:hover {
  color: #dd3333;
}
.pagination form{
  padding:0 1rem;
  background:#333;
  color:#fff;
}
.pagination form select{
  border:none;
  color:#fff;
  font-size:1.2rem;
  background:#333;
}
.pagination .pagesIndex{
  font-size:.9rem;
  font-style: italic;
  padding:0 1rem;
  background: #333;
  color:#fff;
  border-right:#dd3333 solid 2px;
}
.cartInfos{
  line-height:2rem;
}
.priceDiscount{
  text-decoration:line-through;
  line-height:.5rem;
}
#EsposizioneCartRow{
  display:none !important;
}
.cartInfos i.btnBlack, .cartInfos svg.btnBlack{
  display:inline-block;
  text-align:center;
  background: #333;
  color:#fff;
  width:25px;
  height:25px;
  padding:3px;
  border-radius:7px;
}

.setCampana{
  padding-left:20px;
}
.setCampana .sizeBox{
  background: #fff;
  border:solid 1px #333;
  width:4%;
  padding: 1rem;
  margin: 0 .5rem;
  text-align:center;
  font-weight:bold;
  position:relative;

}
.setCampana .sizeBox .value{
  color:#dd3333;
  font-size:1.2rem
}
.setCampana .sizeBox .label{
  position:absolute;
  bottom:-5px;
  right:-5px;
  background:#333;
  color:#cdcdcd;
  text-align:center;
  font-size:1rem;
  font-weight:300;
  padding:0rem .4rem;
}
.campanaAddToCart select{
  height:3rem;
  font-size:1.7rem;
}
.campanaAddToCart .card{
  min-width:111px;
  max-width:111px;
  margin: 0 .5rem;
}
#sizesPack .campanaAddToCart .card{
    min-width:111px;
    max-width:111px;
    margin: 0 .5rem;
  }
.campanaAddToCart .card .card-header{
padding: .3rem;
margin-bottom: 0;
border: none;
background: #000;
color: #fff;
}
.campanaAddToCart .card .input-number{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}
.campanaAddToCart .card .btn-number{
  border-radius: .2rem;
  transition:all ease-in-out .3s;
}
.campanaAddToCart .card .btn-number:hover{
  background:#ccc;
}
.requestCartUpdate{
  position:absolute;
  width:100%;
  height:100%;
  background:rgba(255,255,255,.8);
}
.multipleDel{
  width:25%;
  min-width: 20px;
  margin-left:auto;
  margin-right:0;
  margin-bottom:15px;
}
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {
    .card-columns {column-count: 3;}
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
   .card-columns {column-count: 4;}
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
     .card-columns {column-count: 4;}
  }

    .dashboard-card{
      min-height:60vh;
      padding-top:45vh;
    }

    .dashboard-card > .card-title{
      color:#fff;
      font-size:1.6em;
    }

    .card-b2b{
      background-image: url('/3acustom/img/BG-B2B.jpeg');
      /* background-image: url('/3acustom/img/Sito_BlackWeeks.jpg'); */
      background-size: cover;
      background-position: top;
    }
    .card-future{
     background-image: url('/3acustom/img/BG-FUTURE.jpeg');
      background-size: cover;
      background-position: top;
    }

    @media screen and (max-width: 554px) {
        .img-login-md {
            background-image: url('/3acustom/img/BG-LOGIN.jpeg');
            /*PER PROMO*/
            /* background-image: url('/3acustom/img/Sito_BlackWeeks.jpg'); */
            background-position: center;
            /*filter: grayscale(50%);*/
            background-size: cover;
            height:25vh;
            text-align: center;
            align-items: center;
        }

        .img-login{
          margin-bottom: 5vh;
          background-position: top!important;
        }


        .img-login > h2{
          font-size:5em!important;
          padding-top: 6vh;
        }

    }

    .img-login{
      background-image: url('/3acustom/img/BG-LOGIN.jpeg');
      /*PER PROMO*/
      /* background-image: url('/3acustom/img/Sito_BlackWeeks.jpg'); */
      background-position: center;
      /*filter: grayscale(50%);*/
      background-size: cover;
      height:25vh;
      text-align: center;
      align-items: center;
    }
    .img-login > h2{
      /*color:#1b1b1b;*/
      color:#fff;
      margin: auto;
      text-transform: uppercase;
      font-size:8em;
      font-weight: 800;
    }

    .frm-auth-container{
      display: flex;
    }
    .login-box{
      position: relative;
      width:auto;
      margin:auto;
    }
  /* TOOLTIP SIZES */
  /*<div class="tooltip" role="tooltip"><div class="arrow"></div><div class="tooltip-inner"></div></div>*/

  .theTooltip{
    cursor:pointer;
  }
  .tooltip .tooltip-inner{
    border:solid 1px #dd3333;
    background-color:#fff;
    color:#333;
    box-shadow: 0 0 20px #666;
  }
  .tooltip .arrow::before{
    border-top-color: #dd3333;
}

    /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
  @media (min-width: 768px) {
    .img-login{
      height: 100vh;
    }
  }
  .flag-icon{
    width:4vh;
  }
  .flag-icon-disabled{
    filter: grayscale(100%);
  }

  .bg-grey-60{
    background-color: #999;
  }

  .settedFilterName{
    font-size: 0.7rem;
  }
  .settedFilterValue{
    font-size: 0.8rem;
  }

  #gotop_btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
  }

  #gotop_btn:hover {
    background-color: #555;
  }

  thead,tfoot{
    font-size:0.7em;
  }

  tbody{
    font-size:0.8em;
  }
